@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: row-resize;
}

.Dropdown-root {
  min-width: 8rem;
}

.Dropdown-control {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border: none !important;
  background-color: #64748b !important;
  color: #f8fafc !important;
}

@media only screen and (max-width: 600px) {
  body > div {
    display: none;
  }
  body::after {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "Only available in Desktop/Laptop devices";
  }
}
